@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
 /* 040C18; */
    --color-bg: #fff; 
    --color-footer: #031B34;
    --color-text: #000;
    --color-navbar-links: #515050;
    --color-btn: #0051FF;
    --color-dropdownMenu: #0a1d31;
    --color-sign-in-btn: #006967;
    --color-hero-banner: #F5FFFF;
}